<!doctype html>
<html>
<form method=post>
<table>
<tr><td>Username</td><td><input type=text name=USER value={{USER}}></td></tr>
<tr><td>Password</td><td><input type=password name=PASSWORD></td></tr>
<tr><td>Port</td><td><input type=text name=PORT value={{PORT}}></td></tr>
<tr><td>Database Name</td><td><input type=text name=NAME value={{NAME}}></td></tr>
<tr><td>Host</td><td><input type=text name=HOST value={{HOST}}></td></tr>
<tr><td colspan=2><input type=submit></td></tr>
</table>
</form>
</html>
