oauth:
  # Typically the LMS.
  provider_url: https://localhost:8000
  # From the course discovery client.
  client_id: set-me-please
  client_secret: set-me-please
programs:
  # These will come from the catalog service.
  types:
    - XSeries
    - MicroMasters
  uuids:
    - foo
    - bar
    - baz
