---
credentials:
  lms_url_root: http://localhost:18000
  program_uuid: 6aa860c8-cc37-4a4f-b89b-5ab4f64d26d1
  url:
    api: http://localhost:18150/api/v2/
    service: http://localhost:18150
  username: verified

---
# Secrets below

oauth:
  # OAuth 2.0 client credentials
  access_token_url: http://localhost:18000/oauth2/access_token
  client_id: credentials-key
  client_secret: credentials-secret
