programs:
  # These will come from the catalog service.
  types:
    - XSeries
    - MicroMasters
  uuids:
    - foo
    - bar
    - baz

---
# secrets below

oauth:
  # Typically the LMS.
  provider_url: https://localhost:18000
  # From the course discovery client.
  client_id: ecommerce-key
  client_secret: ecommerce-secret
